<div class="px-1">
  <script async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3865845660755241"
          crossorigin="anonymous"></script>
  <!-- Twitter Video Downloader 10032024 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3865845660755241"
       data-ad-slot="6059655005"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
