<div>
  <form action="{% url 'twitter-downloader:safelink' %}" method="post">
    {% csrf_token %}
    <div class="text-center p-0 m-0">
      <input type="hidden" name="uuid" value="{{ uuid }}" />
      <span id="continueButton" class="btn btn-primary" onclick="showDownloadButton()">
        <small>Continue Download</small>
      </span>

      <button type="submit" id="downloadButton" class="btn btn-primary" disabled onclick="">
        <small>Download</small>
      </button>
    </div>
  </form>
  <script>
    let count = 7;

    const continueButton = document.getElementById("continueButton");
    const downloadButton = document.getElementById("downloadButton");

    downloadButton.style.display = "none";

    function showDownloadButton() {
      continueButton.style.display = "none";
      downloadButton.style.display = "inline-block";

      updateCountdown()
    }


    function updateCountdown() {
      if (count > 0) {

        downloadButton.textContent = `Please wait ${count}...`;
        count--;
        setTimeout(updateCountdown, 1000);
      } else {
        downloadButton.textContent = "";
        downloadButton.textContent = `Download Video`;
        document.getElementById("downloadButton").removeAttribute("disabled");
      }
    }
  </script>
</div>
