{% load static %}

<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <!-- Title -->
    <title>Discord Storage - Free Unlimited File Hosting</title>
    <!-- Required Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
          content="Free Unlimited File Hosting by Arter Tendean" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static "/discord-storage-assets/vendor/bootstrap/dist/css/bootstrap.min.css" %}"  type="text/css" />
    <link rel="stylesheet" href="{% static "/discord-storage-assets/vendor/font-awesome/css/all.min.css" %}"  type="text/css" />
    <link rel="stylesheet" href="{% static "/discord-storage-assets/vendor/themify-icons/css/themify-icons.css" %}"  type="text/css" />
    <link rel="stylesheet" href="{% static "/discord-storage-assets/vendor/slick/slick.min.css" %}"  type="text/css" />
    <link rel="stylesheet" href="{% static "/discord-storage-assets/vendor/featherlight/featherlight.min.css" %}"  type="text/css" />
    <link rel="stylesheet" href="{% static "/discord-storage-assets/vendor/featherlight/featherlight.gallery.min.css" %}" type="text/css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap"
          rel="stylesheet" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static "/discord-storage-assets/css/theme.css" %}" />
    <link rel="stylesheet" href="{% static "/discord-storage-assets/css/utilities.css" %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "/discord-storage-assets/css/custom.css" %}" />
    <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3865845660755241"
            crossorigin="anonymous"></script>
  </head>
  <body data-spy="scroll" data-target="#navbarCollapse" class="bg-gray-800">
    <!-- Loader -->
    <div class="loader bg-dark">
      <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Site navigation -->
    <nav id="siteNavbar"
         class="site-navbar site-navbar-transparent navbar navbar-expand-lg navbar-dark bg-gray-800 shadow-dark-lg fixed-top py-2">
      <a class="navbar-brand" href="https://discord-storage.animemoe.us">
        <!-- <img src="/static/discord-storage-assets/images/logo-white.png" alt="" class="navbar-brand-img navbar-brand-img-light" />
      <img src="/static/discord-storage-assets/images/logo-dark.png" alt="" class="navbar-brand-img navbar-brand-img-dark" /> -->
        Discord Storage
      </a>
      <button class="navbar-toggler-alternative"
              type="button"
              data-toggle="collapse"
              data-target="#navbarCollapse"
              aria-controls="siteNavbar"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-alternative-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link scrollto" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#implementation">Implementation</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Button - Back to top -->
    <a href="#"
       class="btn-back-to-top scrollto btn btn-icon btn-primary shadow-light mb-4 mr-4"
       tabindex="-1">
      <i class="fas fa-chevron-up btn-icon-inner"></i>
    </a>
    <section id="home" class="py-9 py-lg-10 min-vh-100 d-flex">
      <div class="overlay overlay-advanced d-flex align-items-center">
        <div class="overlay-inner bg-image-holder bg-cover">
          <img src="{% static "/discord-storage-assets/images/photos/photo-1.jpg" %}" alt="" />
        </div>
        <div class="overlay-inner bg-gray-900 opacity-90"></div>
      </div>
      <div class="container align-self-center">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto text-center text-white">
            <p class="h5 mb-5">Discord Storage</p>
            <h1 class="mb-5">
              <!-- I Am -->
              <span class="font-weight-bold"
                    data-toggle="typed"
                    data-options='{"strings": ["Free Unlimited File Hosting", "{{ file.count }} files uploaded so far"]}'></span>
            </h1>
            <a href="https://pypi.org/project/pyscord-storage/"
               target="_blank"
               class="btn btn-primary d-block d-md-inline-block mb-3 mb-md-0">pyscord-storage</a>
            <a href="https://www.npmjs.com/package/jscord-storage/"
               target="_blank"
               class="btn btn-soft-white ml-md-3 d-block d-md-inline-block">jscord-storage</a>
          </div>
        </div>
      </div>
      <!-- <div class="mouse-icon text-gray-600"></div> -->
    </section>
    <!-- Portfolio -->
    <section id="implementation" class="py-9 py-xl-12">
      <div class="container">
        <a href="https://my.domainesia.com/ref.php?u=13196">
          <img src="https://dnva.me/v9ev4"
               width="100%"
               height="90px"
               alt="DomaiNesia" />
        </a>
        <div class="row mb-8 mt-1">
          <div class="col-lg-10 mx-auto text-center">
            <h2 class="text-white mb-4">Example Implementation</h2>
            <a href="https://waifu.animemoe.us/"
               target="_blank"
               class="text-gray-400 mb-5">https://waifu.animemoe.us/</a>
            <a href="https://api.animemoe.us/waifu/"
               target="_blank"
               class="text-gray-400 mb-5">https://api.animemoe.us/waifu/</a>
            <!-- <nav class="masonry-filter">
              <a href="#" class="btn btn-sm btn-soft-secondary text-white m-1 px-4 active" data-filter="*">All</a>
              <a href="#" class="btn btn-sm btn-soft-secondary text-white m-1 px-4" data-filter=".web">Web</a>
              <a href="#" class="btn btn-sm btn-soft-secondary text-white m-1 px-4" data-filter=".branding">Branding</a>
              <a href="#" class="btn btn-sm btn-soft-secondary text-white m-1 px-4" data-filter=".design">Design</a>
            </nav> -->
          </div>
        </div>
        <div class="masonry-container row mx-n4 mt-n6">
          <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item branding">
            <span class="card border-0 rounded-3x"
                  href="https://cdn.discordapp.com/attachments/858938620425404426/1015079727268114462/waifu-animemoeus.webp"
                  data-featherlight="image"
                  data-title="とうりつか"
                  data-text="黒ビキニこよちゃん">
              <div class="card-zoom shadow-dark">
                <img class="card-img"
                     src="https://cdn.discordapp.com/attachments/858938620425404426/1015079727268114462/waifu-animemoeus.webp"
                     alt="" />
              </div>
              <div class="card-footer p-0 mt-4">
                <p class="small text-uppercase mb-1 text-gray-400">とうりつか</p>
                <h4 class="h5 text-white mb-0">黒ビキニこよちゃん</h4>
              </div>
            </span>
          </div>
          <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item design">
            <span class="card border-0 rounded-3x"
                  href="https://cdn.discordapp.com/attachments/858938620425404426/1015080280995934358/waifu-animemoeus.webp"
                  data-featherlight="image"
                  data-title="jimmy"
                  data-text="かぐや様">
              <div class="card-zoom shadow-dark">
                <img class="card-img-top"
                     src="https://cdn.discordapp.com/attachments/858938620425404426/1015080280995934358/waifu-animemoeus.webp"
                     alt="" />
              </div>
              <div class="card-footer p-0 mt-4">
                <p class="small text-uppercase mb-1 text-gray-400">jimmy</p>
                <h4 class="h5 text-white mb-0">かぐや様</h4>
              </div>
            </span>
          </div>
          <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item web">
            <a class="card border-0 rounded-3x"
               href="https://cdn.discordapp.com/attachments/858938620425404426/1015080501851213874/waifu-animemoeus.webp"
               data-featherlight="image"
               data-title="最中かーる"
               data-text="なまいき妹ちゃんタペストリー">
              <div class="card-zoom shadow-dark">
                <img class="card-img"
                     src="https://cdn.discordapp.com/attachments/858938620425404426/1015080501851213874/waifu-animemoeus.webp"
                     alt="" />
              </div>
              <div class="card-footer p-0 mt-4">
                <p class="small text-uppercase mb-1 text-gray-400">最中かーる</p>
                <h4 class="h5 text-white mb-0">なまいき妹ちゃんタペストリー</h4>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item web"
               data-featherlight-gallery
               data-featherlight-filter="a">
            <a class="card border-0 rounded-3x"
               href="https://cdn.discordapp.com/attachments/858938620425404426/1015080725684436992/waifu-animemoeus.webp">
              <div class="card-zoom shadow-dark">
                <img class="card-img"
                     src="https://cdn.discordapp.com/attachments/858938620425404426/1015080725684436992/waifu-animemoeus.webp"
                     alt="" />
              </div>
              <div class="card-footer p-0 mt-4">
                <p class="small text-uppercase mb-1 text-gray-400">秋乃える</p>
                <h4 class="h5 text-white mb-0">中野三玖</h4>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item design"
               data-featherlight-gallery
               data-featherlight-filter="a">
            <a class="card border-0 rounded-3x"
               href="https://cdn.discordapp.com/attachments/858938620425404426/1015080922544087131/waifu-animemoeus.webp"
               data-title=" あすく">
              <div class="card-zoom shadow-dark">
                <img class="card-img"
                     src="https://cdn.discordapp.com/attachments/858938620425404426/1015080922544087131/waifu-animemoeus.webp"
                     alt="" />
              </div>
              <div class="card-footer p-0 mt-4">
                <p class="small text-uppercase mb-1 text-gray-400">あすく</p>
                <h4 class="h5 text-white mb-0">ナーフ前 #シオンの書物</h4>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item web">
            <a class="card border-0 rounded-3x"
               href="https://cdn.discordapp.com/attachments/858938620425404426/1015081259497701416/waifu-animemoeus.webp"
               data-featherlight="image">
              <div class="card-zoom shadow-dark">
                <img class="card-img"
                     src="https://cdn.discordapp.com/attachments/858938620425404426/1015081259497701416/waifu-animemoeus.webp"
                     alt="" />
              </div>
              <div class="card-footer p-0 mt-4">
                <p class="small text-uppercase mb-1 text-gray-400">りょーた@高木さん推し</p>
                <h4 class="h5 text-white mb-0">おやすみなさい😴 明日もよろしくお願いします♪ ＃高木さんめ</h4>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item design">
            <a class="card border-0 rounded-3x"
               href="https://cdn.discordapp.com/attachments/858938620425404426/1015081462309072966/waifu-animemoeus.webp"
               data-featherlight="image">
              <div class="card-zoom shadow-dark">
                <img class="card-img"
                     src="https://cdn.discordapp.com/attachments/858938620425404426/1015081462309072966/waifu-animemoeus.webp"
                     alt="" />
              </div>
              <div class="card-footer p-0 mt-4">
                <p class="small text-uppercase mb-1 text-gray-400">aki</p>
                <h4 class="h5 text-white mb-0">涼しくなってきたようでやっぱり暑いので</h4>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item branding">
            <a class="card border-0 rounded-3x"
               href="https://cdn.discordapp.com/attachments/858938620425404426/1015081678244413450/waifu-animemoeus.webp"
               data-featherlight="image">
              <div class="card-zoom shadow-dark">
                <img class="card-img"
                     src="https://cdn.discordapp.com/attachments/858938620425404426/1015081678244413450/waifu-animemoeus.webp"
                     alt="" />
              </div>
              <div class="card-footer p-0 mt-4">
                <p class="small text-uppercase mb-1 text-gray-400">秋乃える</p>
                <h4 class="h5 text-white mb-0">中野三玖</h4>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item branding">
            <a class="card border-0 rounded-3x"
               href="https://cdn.discordapp.com/attachments/858938620425404426/1015081884717416448/waifu-animemoeus.webp"
               data-featherlight="image">
              <div class="card-zoom shadow-dark">
                <img class="card-img"
                     src="https://cdn.discordapp.com/attachments/858938620425404426/1015081884717416448/waifu-animemoeus.webp"
                     alt="" />
              </div>
              <div class="card-footer p-0 mt-4">
                <p class="small text-uppercase mb-1 text-gray-400">よしおか</p>
                <h4 class="h5 text-white mb-0">
                  うみぼうず先生作の水着がとても可愛かったです🍃💖
                  #いろはにも絵を
                </h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="position-relative py-9 py-lg-12 bg-dark text-gray-400">
      <div class="container px-xl-10">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2>AnimeMoeUs</h2>
            <p class="mb-5">
              Today I will do what others won't, so tomorrow I can do what
              others can't.
            </p>
            <ul class="list-inline mb-5">
              <li class="list-inline-item mx-0">
                <a class="btn btn-sm btn-icon btn-soft-secondary text-gray-400"
                   href="https://web.facebook.com/arter.tendean.07/"
                   tabindex="0"
                   target="_blank">
                  <i class="fab fa-facebook-f btn-icon-inner"></i>
                </a>
              </li>
              <li class="list-inline-item mx-0">
                <a class="btn btn-sm btn-icon btn-soft-secondary text-gray-400"
                   href="https://www.instagram.com/arter_tendean/"
                   tabindex="0"
                   target="_blank">
                  <i class="fab fa-instagram btn-icon-inner"></i>
                </a>
              </li>
              <li class="list-inline-item mx-0">
                <a class="btn btn-sm btn-icon btn-soft-secondary text-gray-400"
                   href="https://github.com/animemoeus"
                   tabindex="0"
                   target="_blank">
                  <i class="fab fa-github btn-icon-inner"></i>
                </a>
              </li>
            </ul>
            <hr class="bg-light" />
            <p class="mb-0">©️ Discord Storage 2023 — Arter Tendean</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Libs JS -->
    <script src="/static/discord-storage-assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/popper.js/dist/popper.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/jquery-form/dist/jquery.form.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/featherlight/featherlight.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/featherlight/jquery.detect_swipe.js"></script>
    <script src="/static/discord-storage-assets/vendor/featherlight/featherlight.gallery.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/jQuery.countdown/dist/jquery.countdown.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/typed.js/typed.min.js"></script>
    <script src="/static/discord-storage-assets/vendor/slick/slick.min.js"></script>
    <!-- Theme JS -->
    <script src="/static/discord-storage-assets/js/main.js"></script>
  </body>
</html>
