<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Arter Tendean — AnimeMoeUs</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="I'm no one. I don't want to be anyone." />
    <meta name="keywords"
          content="arter, tendean, arter tendean, animemoeus, software engineer, fullstack developer" />
    <meta name="author" content="Arter Tendean" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet"
          href="/static/breezy-cv/css/reset.css"
          type="text/css" />
    <link rel="stylesheet"
          href="/static/breezy-cv/css/bootstrap-grid.min.css"
          type="text/css" />
    <link rel="stylesheet"
          href="/static/breezy-cv/css/animations.css"
          type="text/css" />
    <link rel="stylesheet"
          href="/static/breezy-cv/css/perfect-scrollbar.css"
          type="text/css" />
    <link rel="stylesheet"
          href="/static/breezy-cv/css/owl.carousel.css"
          type="text/css" />
    <link rel="stylesheet"
          href="/static/breezy-cv/css/magnific-popup.css"
          type="text/css" />
    <link rel="stylesheet"
          href="/static/breezy-cv/css/main.css"
          type="text/css" />
  </head>
  <body>
    <!-- Animated Background -->
    <div class="lm-animated-bg"
         style="background-image: url(/static/breezy-cv/img/main_bg.png)"></div>
    <!-- /Animated Background -->
    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner"></div>
      </div>
    </div>
    <!-- /Loading animation -->
    <div class="page">
      <div class="page-content">
        <header id="site_header" class="header mobile-menu-hide">
          <div class="header-content">
            <div class="header-photo">
              <img src="https://media.discordapp.net/attachments/858938620425404426/1112022317942456421/jujutsu-arter.webp"
                   alt="Arter Tendean" />
            </div>
            <div class="header-titles">
              <h2>Arter Tendean</h2>
              <h4>AnimeMoeUs</h4>
            </div>
          </div>
          <ul class="main-menu">
            <li class="active">
              <a href="#home" class="nav-anim">
                <span class="menu-icon lnr lnr-home"></span>
                <span class="link-text">Home</span>
              </a>
            </li>
            <li>
              <a href="#about-me" class="nav-anim">
                <span class="menu-icon lnr lnr-user"></span>
                <span class="link-text">About Me</span>
              </a>
            </li>
            <li>
              <a href="#resume" class="nav-anim">
                <span class="menu-icon lnr lnr-graduation-hat"></span>
                <span class="link-text">Resume</span>
              </a>
            </li>
            <li>
              <a href="#portfolio" class="nav-anim">
                <span class="menu-icon lnr lnr-briefcase"></span>
                <span class="link-text">Portfolio</span>
              </a>
            </li>
            <li>
              <a href="#contact" class="nav-anim">
                <span class="menu-icon lnr lnr-envelope"></span>
                <span class="link-text">Contact</span>
              </a>
            </li>
          </ul>
          <div class="social-links">
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/artertendean/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="https://github.com/animemoeus/" target="_blank"><i class="fab fa-github"></i></a>
              </li>
              <li>
                <a href="https://www.facebook.com/arter.tendean.07" target="_blank"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/arter_tendean/" target="_blank"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="header-buttons">
            <!-- <a href="#" target="_blank" class="btn btn-primary">Download CV</a> -->
          </div>
          <div class="copyrights">© 2023 All rights reserved.</div>
        </header>
        <!-- Mobile Navigation -->
        <div class="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- End Mobile Navigation -->
        <!-- Arrows Nav -->
        <div class="lmpixels-arrows-nav">
          <div class="lmpixels-arrow-right">
            <i class="lnr lnr-chevron-right"></i>
          </div>
          <div class="lmpixels-arrow-left">
            <i class="lnr lnr-chevron-left"></i>
          </div>
        </div>
        <!-- End Arrows Nav -->
        <div class="content-area">
          <div class="animated-sections">
            <!-- Home Subpage -->
            <section data-id="home" class="animated-section start-page">
              <div class="section-content vcentered">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="title-block">
                      <h2>Arter Tendean</h2>
                      <div class="owl-carousel text-rotation">
                        <div class="item">
                          <div class="sp-subtitle">Software Engineer</div>
                        </div>
                        <div class="item">
                          <div class="sp-subtitle">Full Stack Engineer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End of Home Subpage -->
            <!-- About Me Subpage -->
            <section data-id="about-me" class="animated-section">
              <div class="section-content">
                <div class="page-title">
                  <h2>
                    About <span>Me</span>
                  </h2>
                </div>
                <!-- Personal Information -->
                <div class="row">
                  <div class="col-xs-12 col-sm-7">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Facere, voluptatum corrupti numquam veniam natus vero
                      laudantium id? Molestias maiores aliquam animi repellat
                      doloribus voluptate asperiores ducimus dolor corporis!
                      Laboriosam, veritatis.
                    </p>
                  </div>
                  <div class="col-xs-12 col-sm-5">
                    <div class="info-list">
                      <ul>
                        <li>
                          <span class="title">Age</span>
                          <span class="value">23</span>
                        </li>
                        <li>
                          <span class="title">Residence</span>
                          <span class="value">ID</span>
                        </li>
                        <li>
                          <span class="title">e-mail</span>
                          <span class="value">arter@animemoe.us</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- End of Personal Information -->
                <div class="white-space-50"></div>
                <!-- Services -->
                <!-- <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                      <h3>What <span>I Do</span></h3>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="col-inner">
                      <div class="info-list-w-icon">
                        <div class="info-block-w-icon">
                          <div class="ci-icon">
                            <i class="lnr lnr-store"></i>
                          </div>
                          <div class="ci-text">
                            <h4>Ecommerce</h4>
                            <p>
                              Pellentesque pellentesque, ipsum sit amet auctor
                              accumsan, odio tortor bibendum massa, sit amet
                              ultricies ex lectus scelerisque nibh. Ut non
                              sodales.
                            </p>
                          </div>
                        </div>
                        <div class="info-block-w-icon">
                          <div class="ci-icon">
                            <i class="lnr lnr-laptop-phone"></i>
                          </div>
                          <div class="ci-text">
                            <h4>Web Design</h4>
                            <p>
                              Pellentesque pellentesque, ipsum sit amet auctor
                              accumsan, odio tortor bibendum massa, sit amet
                              ultricies ex lectus scelerisque nibh. Ut non
                              sodales.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="col-inner">
                      <div class="info-list-w-icon">
                        <div class="info-block-w-icon">
                          <div class="ci-icon">
                            <i class="lnr lnr-pencil"></i>
                          </div>
                          <div class="ci-text">
                            <h4>Copywriting</h4>
                            <p>
                              Pellentesque pellentesque, ipsum sit amet auctor
                              accumsan, odio tortor bibendum massa, sit amet
                              ultricies ex lectus scelerisque nibh. Ut non
                              sodales.
                            </p>
                          </div>
                        </div>
                        <div class="info-block-w-icon">
                          <div class="ci-icon">
                            <i class="lnr lnr-flag"></i>
                          </div>
                          <div class="ci-text">
                            <h4>Management</h4>
                            <p>
                              Pellentesque pellentesque, ipsum sit amet auctor
                              accumsan, odio tortor bibendum massa, sit amet
                              ultricies ex lectus scelerisque nibh. Ut non
                              sodales.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- End of Services -->
                <!-- <div class="white-space-50"></div> -->
                <!-- Fun Facts -->
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                      <h3>
                        Fun <span>Facts</span>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <div class="fun-fact gray-default">
                      <i class="lnr lnr-heart"></i>
                      <h4>I Like Anime</h4>
                      <span class="fun-fact-block-value"></span>
                      <span class="fun-fact-block-text"></span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                    <div class="fun-fact gray-default">
                      <i class="lnr lnr-clock"></i>
                      <h4>Night Owl</h4>
                      <span class="fun-fact-block-value"></span>
                      <span class="fun-fact-block-text"></span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                    <div class="fun-fact gray-default">
                      <i class="lnr lnr-star"></i>
                      <h4>Astrophile</h4>
                      <span class="fun-fact-block-value"></span>
                      <span class="fun-fact-block-text"></span>
                    </div>
                  </div>
                </div>
                <!-- End of Fun Facts -->
              </div>
            </section>
            <!-- End of About Me Subpage -->
            <!-- Resume Subpage -->
            <section data-id="resume" class="animated-section">
              <div class="section-content">
                <div class="page-title">
                  <h2>Resume</h2>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-7">
                    <div class="block-title">
                      <h3>Education</h3>
                    </div>
                    <div class="timeline timeline-second-style clearfix">
                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period">2022</h5>
                          <span class="item-company">Klabat University</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">Bachelor Degree Computer Science</h4>
                          <p></p>
                        </div>
                      </div>
                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period">2018</h5>
                          <span class="item-company">Klabat University</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">Freshmen</h4>
                          <p></p>
                        </div>
                      </div>
                    </div>
                    <div class="white-space-50"></div>
                    <div class="block-title">
                      <h3>Experience</h3>
                    </div>
                    <div class="timeline timeline-second-style clearfix">
                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period">2022 - Current</h5>
                          <span class="item-company">ErudiFi</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">Full Stack Engineer</h4>
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Skills & Certificates -->
                  <div class="col-xs-12 col-sm-5">
                    <!-- Knowledges -->
                    <div class="block-title">
                      <h3>Knowledges</h3>
                    </div>
                    <ul class="knowledges">
                      <li>Python</li>
                      <li>Django</li>
                      <li>Linux</li>
                      <li>Git & Github</li>
                      <li>CI/CD</li>
                      <li>JavaScript</li>
                      <li>NextJs</li>
                    </ul>
                    <!-- End of Knowledges -->
                  </div>
                  <!-- End of Skills & Certificates -->
                </div>
              </div>
            </section>
            <!-- End of Resume Subpage -->
            <!-- Portfolio Subpage -->
            <section data-id="portfolio" class="animated-section">
              <div class="section-content">
                <div class="page-title">
                  <h2>Portfolio</h2>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <!-- Portfolio Content -->
                    <div class="portfolio-content">
                      <!-- Portfolio Grid -->
                      <div class="portfolio-grid three-columns">
                        <figure class="item standard"
                                data-groups='["category_all", "category_detailed"]'>
                          <div class="portfolio-item-img">
                            <img src="https://media.discordapp.net/attachments/858938620425404426/1112021464309305354/Waifu-AnimeMoeUs.webp"
                                 alt="AnimeMoeUs Waifu"
                                 loading="lazy"
                                 title="" />
                            <a href="https://waifu.animemoe.us" target="_blank"></a>
                          </div>
                          <h4 class="name">Anime Waifu</h4>
                        </figure>
                        <figure class="item standard"
                                data-groups='["category_all", "category_detailed"]'>
                          <div class="portfolio-item-img">
                            <img src="https://media.discordapp.net/attachments/858938620425404426/1112021620295487538/animemoeus-telegram-bot-Telegram-Bot-Collections.webp"
                                 alt="Telegram Bot"
                                 loading="lazy"
                                 title="" />
                            <a href="https://telegram-bot.animemoe.us" target="_blank"></a>
                          </div>
                          <h4 class="name">Telegram Bot</h4>
                        </figure>
                        <figure class="item standard"
                                data-groups='["category_all", "category_detailed"]'>
                          <div class="portfolio-item-img">
                            <img src="https://media.discordapp.net/attachments/858938620425404426/1112021728332353709/Discord-Storage-Free-Unlimited-File-Hosting.webp"
                                 alt="Discord Storage"
                                 loading="lazy"
                                 title="" />
                            <a href="https://discord-storage.animemoe.us" target="_blank"></a>
                          </div>
                          <h4 class="name">Discord Storage</h4>
                        </figure>
                        <figure class="item standard"
                                data-groups='["category_all", "category_detailed"]'>
                          <div class="portfolio-item-img">
                            <img src="https://media.discordapp.net/attachments/858938620425404426/1112021865016336464/Telegram-Contact-twitter_video_downloader_bot.webp"
                                 alt="Twitter Video Downloader Bot"
                                 loading="lazy"
                                 title="" />
                            <a href="https://t.me/twitter_video_downloader_bot" target="_blank"></a>
                          </div>
                          <h4 class="name">Twitter Video Downloader Bot</h4>
                        </figure>
                        <figure class="item standard"
                                data-groups='["category_all", "category_detailed"]'>
                          <div class="portfolio-item-img">
                            <img src="https://media.discordapp.net/attachments/858938620425404426/1112022022181105775/-Unklab-URL-Shortener.webp"
                                 alt="Unklab URL Shortener"
                                 loading="lazy"
                                 title="" />
                            <a href="https://github.com/animemoeus/unklab-url-shortener/"
                               target="_blank"></a>
                          </div>
                          <h4 class="name">Unklab URL Shortener</h4>
                        </figure>
                        <figure class="item standard"
                                data-groups='["category_all", "category_detailed"]'>
                          <div class="portfolio-item-img">
                            <img src="https://media.discordapp.net/attachments/858938620425404426/1112022122798256228/Telegram-Contact-moegram_bot.webp"
                                 alt="Moegram Bot"
                                 loading="lazy"
                                 title="" />
                            <a href="https://t.me/moegram_bot" target="_blank"></a>
                          </div>
                          <h4 class="name">Autolike Instagram Bot</h4>
                        </figure>
                      </div>
                    </div>
                    <!-- End of Portfolio Content -->
                  </div>
                </div>
              </div>
            </section>
            <!-- End of Portfolio Subpage -->
            <!-- Contact Subpage -->
            <section data-id="contact" class="animated-section">
              <div class="section-content">
                <div class="page-title">
                  <h2>Contact</h2>
                </div>
                <div class="row">
                  <!-- Contact Info -->
                  <div class="col-xs-12 col-sm-12">
                    <div class="lm-info-block gray-default">
                      <i class="lnr lnr-map-marker"></i>
                      <h4>Airmadidi, North Sulawesi, Indonesia</h4>
                      <span class="lm-info-block-value"></span>
                      <span class="lm-info-block-text"></span>
                    </div>
                    <div class="lm-info-block gray-default">
                      <i class="lnr lnr-envelope"></i>
                      <a href="mailto:arter@animemoe.us">
                        <h4>arter@animemoe.us</h4>
                      </a>
                      <span class="lm-info-block-value"></span>
                      <span class="lm-info-block-text"></span>
                    </div>
                    <div class="lm-info-block gray-default">
                      <i class="lnr lnr-checkmark-circle"></i>
                      <h4>Freelance Available</h4>
                      <span class="lm-info-block-value"></span>
                      <span class="lm-info-block-text"></span>
                    </div>
                  </div>
                  <!-- End of Contact Info -->
                </div>
              </div>
            </section>
            <!-- End of Contact Subpage -->
          </div>
        </div>
      </div>
    </div>
    <script src="/static/breezy-cv/js/jquery.min.js"></script>
    <script src="/static/breezy-cv/js/modernizr.custom.js"></script>
    <script src="/static/breezy-cv/js/animating.js"></script>
    <script src="/static/breezy-cv/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/breezy-cv/js/perfect-scrollbar.min.js"></script>
    <script src="/static/breezy-cv/js/jquery.shuffle.min.js"></script>
    <script src="/static/breezy-cv/js/masonry.pkgd.min.js"></script>
    <script src="/static/breezy-cv/js/owl.carousel.min.js"></script>
    <script src="/static/breezy-cv/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/breezy-cv/js/validator.js"></script>
    <script src="/static/breezy-cv/js/main.js"></script>
  </body>
</html>
